body{
    font-family: border-box;
    margin: 0%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.manu_bar{
    background-color: rgb(26, 24, 51);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 5%;
}
.logo{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    
}
.logo span{
    color: brown;
}


.color{
    color: brown;
    padding-right: 10%;   
}
.color li{
    margin: 10px;
}
body{
    background-color: darkgray;
}


.ayush{
    width: 100px;
    border-radius: 60%;
}
h3{
    color: brown;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
footer{
background-color: rgb(26, 24, 51);
margin-top: 100%;
}
.footerContainer{
width: 100%;
padding: 70px 30px 20px;
}
.social{
display: flex;
justify-content: center;
}
.social a{
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}
.social a i{
font-size: 2em;
color: black;
opacity: 0.9;
}
.social a:hover{
background-color: rgb(26, 24, 51);
transition: 0.5s;
}
.social a:hover{
color: white;
transition: 0.5s;
}
.footernev{
margin: 30px 0;
}
.footernev ul{
display: flex;
justify-content: center;
}

.footernev ul li a{
color: white;
margin: 20px;
text-decoration: none;
font-size: 1.3em;
opacity: 0.7;
transition: 0.5s;

}
.footernev ul li a:hover{
opacity: 1;
}
.footerbottom{
background-color: black;
color: white;
padding: 20px;
text-align: center;
}
.designer{
opacity: 0.7;
text-transform: 1px;
letter-spacing: 1px;
font-weight: 400;
text-transform: uppercase;
margin: 0px 5px;
}
@media(max-width:800px){
.footernev{
flex-direction: column;
}
.footernev ul li{
width: 100%;
text-align: center;
margin: 10px;
}
.manu_bar {
flex-direction: column;
align-items: flex-start;
}

.logo {
margin-bottom: 10px;
}

.manu_bar ul {
flex-direction: column;
align-items: flex-start;
}

.manu_bar ul li {
margin-bottom: 5px;
}

.drop_down {
position: static;
display: none;
}

.color {
padding-right: 0;
}

p {
width: 100%;
}

footer {
width: 100%;
}
.accordion{
    margin-left: 20px;
}
.accordion li{
max-width: 35%;
margin-right: 20px;
}
.center{
    margin-top: 50px;
    padding: 0px 0px 0px 0px;
}
.th{
    font-size: 10px;
    border: none;
    margin-top: 0px;
    width: 20px;
    
}
td{
    max-width: 35px;
    font-size: 2%;
    padding: 0px;
    text-decoration: none;
}
.px{
    font-size: 9px;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 30px;
    margin-left: 2px;
    margin-right: 2px;
}
#br{
    padding-left: 9px;
}
#notice{
    margin: 0;
}
#center{
    margin: 0;
}
.link{
    font-weight: 100;
}
}
.notis{
    display: flex;
    flex-direction: column;
}
.notice{
    margin-left: 10px;
}
.accordion{
    margin: 50px auto;
    width: 1050px;
}
.accordion li{
    list-style: none;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    color: red;
    background: rgb(26, 24, 51);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),-6px -6px -10px -1px rgba(255, 255, 255, 0.7);
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}
input[type="radio"]{
    display: none;
    
}
.accordion .notice{
    color: white;
    padding: 0 10px;
    line-height: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.accordion input[type="radio"]:checked + label +.notice{
    max-height: 400px;
    padding: 10px 10px 20px;
}
.accordion input[type="radio"]:checked + label::before{
    content: '-';
}
table
{
    border: none;
    text-align: center;
    border-radius: 8px;
    background: rgb(26, 24, 51);
    box-shadow: 9px 9px 18px #1f1f1f,
                 -9px -9px 18px #474747;
                 padding: 8px;
               
}
.th
{
	border:none;
	color: red;
	text-align: center;
    padding-right: 2px;
    width: 50px;
    
}
.th:hover
{
	background: #ff0157;
	color: #fff;
	box-shadow: 9px 9px 18px #1f1f1f,
                 -9px -9px 18px #474747;
}
td
{
	border:1px solid rgb(26, 24, 51);
	color: white;
	text-align: center;
    font-size: small;
}
td:hover
{
	background: black;
	color: #fff;
	box-shadow: 9px 9px 18px #1f1f1f,
                 -9px -9px 18px #474747;
}
table.center
{
	margin-left: auto;
	margin-right: auto;
}
.link{
    text-decoration: none;
    color: white;
    background-color: rgb(26, 24, 51);
    padding-left: 50px;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
}
.link span{
    text-align: center;
}
.link:hover{
    letter-spacing: 0.25em;
    background: red;
    box-shadow: 0 0 35px red;
}
.link::before{
    content: '';
    
    background: red;
}
@media(min-width:800px){
    .accordion li{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
}